.container {
  background: #0a2640;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-shrink: 0;
  padding: 5% 0%;
  
}
.sub-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.header {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: #f1f1f1;
  flex-shrink: 0;
  
}

.text-2-col-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  @media screen and (max-width: 480px) {
    flex-direction: column;
    align-items: center;
  }

}

.header-text-1 {
  color:#f1f1f1;
  /* Paragraphs/Text S */
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; 
}

.header-text-2 {
  color: #fff;
  text-align: center;
  font-family: Manrope;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px; 
  @media screen and (max-width: 480px) {
    font-size: 18px;
    line-height: 1.4;
    width: 80%;
  }
}
.text-1 {
  color: #4fe9a4;
  font-family: Manrope;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;

  @media screen and (max-width: 769px) {
    font-size: 48px;
  }
  
}
.text-2 {
  color: var(--light-grey, #f1f1f1);
  /* Paragraphs/Text M */
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;

  @media screen and (max-width: 769px) {
    font-size: 16px;
  }
}

.text-2-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    @media screen and (max-width: 1025px) {
      margin: 0% 5%;
    }
   
  
}
