.team-container {
  width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1000px;
}

.profile-container {
  display: flex;
  gap: 40px;
}
.team-heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.text-sect {
  /* background: green; */
  height: 180px;
}
.text-a {
  /* background: green; */
  width: 120px;
  height: 32px;
  color: var(--gray, #777);

  /* Paragraphs/Text S */
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.text-b {
    height: 72px;
  color: #000;
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px; /* 150% */
}
.text-c {
  width: 799px;
  height: 110px;
  color: var(--gray, #777);

  /* Paragraphs/Text S */
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  flex-shrink: 0;
}
.name-text{
    color: #000;

    /* Headings/Text L */
    font-family: Manrope;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;

}
.role-text{
    color: var(--gray, #777);

/* Paragraphs/Text S */
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
}